.button {
  margin: 10px;
  width: 60px;
  text-align: center;
  border: 1px solid blueviolet;
  outline: none;
  background-color: transparent;

  transition: all 400ms linear;
}
.button:hover {
  color: wheat;
  background-color: blue;
}
